@{
    ViewBag.Title = "Home";
}

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Resources/Images/carousel/blurredFalls.jpg" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Alex Witkowski</h1>
                    <p>Computer Programmer Analyst</p>
                    
          <p>@Html.ActionLink("About Me", "About", "Home", null, new {@class = "btn btn-large btn-primary"})
        </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/Resources/Images/carousel/emptyLibrary.jpg" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <h1>e-Portfolio</h1>
                    <p>A viewable and downloadable version of my resume and academic achievements</p>
                    <p>@Html.ActionLink("View My ePortfolio", "Index", "ePortfolio", null, new { @class = "btn btn-large btn-primary" })
                    </p>
                </div>
            </div>
        </div>
        <div class="item">
            <img src="~/Resources/Images/carousel/codeing.jpg" class="img-responsive">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Projects</h1>
                    <p>Examples of my various works</p>
                    <p>@Html.ActionLink("View Gallery", "Index", "Sample", null, new { @class = "btn btn-large btn-primary" })
                </div>
            </div>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="icon-next"></span>
    </a>
</div>
<!-- /.carousel -->
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <!--<img class="img-circle" src="http://placehold.it/140x140">-->
    <div class="row">
        <div class="col-md-4 text-left">
            <h2>Example Projects</h2>
            <p>Examples of my coding and design work.</p>
            <p>@Html.ActionLink("View Gallery", "Index", "Sample", null, new { @class = "btn btn-default" })</p>
        </div>
        <div class="col-md-4 text-left">
            <h2>Resume</h2>
            <p>My resume outlines all of my skills and achievements as well as past work experience.</p>
            <p>@Html.ActionLink("View Resume", "Resume", "ePortfolio", null, new { @class = "btn btn-default" })</p>
        </div>
        <div class="col-md-4 text-left">
            <h2>Contact Me</h2>
            <p>If you have any questions please feel free to contact me at any time through whichever of the provided resources.</p>
            <p>@Html.ActionLink("Contact Me", "Contact", "Home", null, new { @class = "btn btn-default" })</p>
        </div>
    </div><!-- /.row -->
    </div>
